*.img
*.elf
*.sys
*.drv
*.o

/boot-*/*.bin
/sysload/sysload.bin

/lib/arch-amd64/crt0/autogen/
/lib/arch-amd64/crt0/libc.a
/lib/arch-amd64/syscall/syscall.S
/lib/arch-i386/crt0/autogen/
/lib/arch-i386/crt0/libc.a
/lib/arch-i386/syscall/syscall.S
/sysload/sysload
/sysload/sysload.cdrom
/sysload/sysload.pxe
/arch
/boot
/cmd/acex-bin/basename
/cmd/acex-bin/cat
/cmd/acex-bin/chmod
/cmd/acex-bin/chsh
/cmd/acex-bin/cmp
/cmd/acex-bin/cp
/cmd/acex-bin/date
/cmd/acex-bin/dd
/cmd/acex-bin/dirname
/cmd/acex-bin/du
/cmd/acex-bin/echo
/cmd/acex-bin/env
/cmd/acex-bin/expr
/cmd/acex-bin/false
/cmd/acex-bin/grep
/cmd/acex-bin/kill
/cmd/acex-bin/ln
/cmd/acex-bin/ls
/cmd/acex-bin/mkdir
/cmd/acex-bin/mknod
/cmd/acex-bin/more
/cmd/acex-bin/mv
/cmd/acex-bin/nice
/cmd/acex-bin/printenv
/cmd/acex-bin/pwd
/cmd/acex-bin/rm
/cmd/acex-bin/rmdir
/cmd/acex-bin/sleep
/cmd/acex-bin/stat
/cmd/acex-bin/test
/cmd/acex-bin/true
/cmd/acex-bin/tty
/cmd/acex-bin/uname
/cmd/acex-bin/which
/cmd/acex-bin/whoami
/cmd/acex-sbin/chown
/cmd/acex-sbin/nologin
/cmd/bin/aout
/cmd/bin/aclock
/cmd/bin/avail
/cmd/bin/bltbench
/cmd/bin/box
/cmd/bin/calc
/cmd/bin/charmap
/cmd/bin/ckexe
/cmd/bin/clear
/cmd/bin/clock
/cmd/bin/code
/cmd/bin/colors
/cmd/bin/detach
/cmd/bin/df
/cmd/bin/edit
/cmd/bin/formview
/cmd/bin/hexdump
/cmd/bin/osk
/cmd/bin/pal
/cmd/bin/passwd
/cmd/bin/pictview
/cmd/bin/pmd
/cmd/bin/pref.color
/cmd/bin/pref.desktop
/cmd/bin/pref.display
/cmd/bin/pref.mouse
/cmd/bin/pref.osk
/cmd/bin/pref.sound
/cmd/bin/pref.theme
/cmd/bin/pref.time
/cmd/bin/ps
/cmd/bin/tar
/cmd/bin/taskbar
/cmd/bin/textbench
/cmd/bin/tinycomm
/cmd/bin/uptime
/cmd/bin/vtty
/cmd/bin/wfind
/cmd/bin/winlist
/cmd/filemgr/filemgr
/cmd/filemgr/filemgr.mkfsi
/cmd/filemgr/filemgr.slave
/cmd/filemgr/pref.filemgr
/cmd/inet-rvd/rvd
/cmd/inet/httpd
/cmd/inet/ifconfig
/cmd/inet/netstat
/cmd/inet/slattach
/cmd/inet/telnetd
/cmd/bin/bell
/cmd/sbin/kdebug
/cmd/sbin/addblk
/cmd/sbin/bstat
/cmd/sbin/panic
/cmd/sbin/sysmesg
/cmd/sbin/systat
/cmd/sbin/check_devs
/cmd/sbin/daemon
/cmd/sbin/diskfree
/cmd/sbin/diskperf
/cmd/sbin/dmesg
/cmd/sbin/edit_devs
/cmd/sbin/fault_test
/cmd/sbin/fdctl
/cmd/sbin/fdfmt
/cmd/sbin/fdisk
/cmd/sbin/find_devs
/cmd/sbin/fsck
/cmd/sbin/fxstat
/cmd/sbin/hwclock
/cmd/sbin/init
/cmd/sbin/init.desktop
/cmd/sbin/init.profile
/cmd/sbin/init.devs
/cmd/sbin/list_devs
/cmd/sbin/login
/cmd/sbin/mkfs
/cmd/sbin/mode
/cmd/sbin/mount
/cmd/sbin/pcidevs
/cmd/sbin/pref.filesys
/cmd/sbin/rdconfig
/cmd/sbin/secure
/cmd/sbin/showload
/cmd/sbin/shutdown
/cmd/sbin/stress
/cmd/sbin/sync
/cmd/sbin/sysinstall
/cmd/sbin/taskman
/cmd/sbin/tunefs
/cmd/sbin/umount
/cmd/sbin/usermgr
/cmd/sbin/vtty-con
/cmd/sbin/wdmesg
/cmd/sbin/wfdfmt
/cmd/sbin/wlogin
/cmd/sbin/wmount
/cmd/sbin/wsync
/cmd/sbin/wumount
/cmd/sh/glob
/cmd/sh/if
/cmd/sh/sh
/cmd/tcc/tcc
/cmd/tcc.lib/libtcc1.a
/cmd/tests/test.alarm
/cmd/tests/test.color
/cmd/tests/test.float
/cmd/tests/test.fmthuman
/cmd/tests/test.getopt
/cmd/tests/test.gui
/cmd/tests/test.hideptr
/cmd/tests/test.loopmark
/cmd/tests/test.memdev
/cmd/tests/test.pipe
/cmd/tests/test.printf
/cmd/tests/test.pty
/cmd/tests/test.regexp
/cmd/tests/test.ringbuf
/cmd/tests/test.segv
/cmd/tests/test.sleep
/cmd/tests/test.strftime
/cmd/tests/test.textsize
/cmd/tests/test.theme
/cmd/tests/test.time
/cmd/tests/test.timer
/cmd/tests/test.vtty
/cmd/sdk.bin/ar
/cmd/sdk.bin/examples
/cmd/sdk.bin/fnc
/cmd/sdk.bin/mgen
/cmd/sdk.bin/modinfo
/cmd/sdk.bin/modlist
/cmd/sdk.bin/modload
/cmd/sdk.bin/ucc
/cmd/zlib/zpipe
/cmd/zlib/zinit
/cross/cdcks
/cross/cfont
/cross/ckexe
/cross/enlarge
/cross/fnc
/cross/fnconv
/cross/mgen/mgen
/cross/mkbfs
/cross/modinfo
/cross/psysload
/cross/sysver
/cross/wc2c
/cross/tcc/ctcc
/cross/zpipe
/disks/
/drv-arch
/fonts/mono
/fonts/mono-large
/fonts/system
/fonts/system-large
/fonts/mono-large-narrow
/fonts/mono-narrow
/include/arch
/include/kern/arch
/include/kern/machine
/include/machine
/include-tmp/gitver.h
/kern/arch
/kern/os386
/kern/syslist/syslist.old
/lib/arch
/lib/libc.a
/lib/load/arch
/lib/load/exports.c
/lib/load/load
/zlib/zlib.a
/machine
/tree.tmp/
/zinit.tmp/
/release/
/vanadium-*-amd64.tar.gz
/vanadium-*-i386.tar.gz
